@page "/"
@attribute [Authorize(Roles = "Administration")]

<PageTitle>Fingerprint</PageTitle>

<h1>Fingerprint: @fingerprint</h1>

@code {
    private string fingerprint { get; set; } = "";
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        fingerprint = await JS.InvokeAsync<string>("getFingerprint");
    }
}